*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.header-bar{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-logo{
  height: 70px;
}

ul{
  display: flex;
}

li{
  margin: 0 30px;
  line-height: 70px;
  font-size: 16px;
  color: white;
  list-style: none;
}

main{
  width: 100%;
}

.main-visual{
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover ;
  background-position: center;
  color: #f7f7f7;
  text-align: center;
}

.main-visual-group{
  padding-top: 200px;
}

.main-visual-header h1{
  font-size: 64px;
  margin-bottom: 10px;
}

.main-visual-text{
  font-size: 20px;
}

.portfolio{
  width: 100%;
  background-color: #eceff1;
}

.portfolio-container{
  width: 920px;
  margin: 0 auto;
  padding:90px 0;
  text-align: center;
}

.common-header h3{
  font-size: 32px;
  color: #000000;
}

.common-header h3::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%; /* 位置調整 */
	transform: translate(-50%); /* 位置調整 */
	width: 70px; /* 下線の幅 */
	height: 3px; /* 下線の太さ */
	background-color: #ec715f; /* 下線の色 */
}

.common-text{
  margin: 30px 0;
}

.common-text p{
  font-size: 16px;
  color: #000000;
}

.box-images{
  display: flex;
  flex-wrap: wrap;
}

.common-image-item{
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: top center;
}

.image-item1{
  background-image: url(img/sketch.jpg);
  margin-right: 10px;
  margin-bottom: 10px;
}

.image-item2{
  background-image: url(img/websuku.png);
  margin-right: 10px;
  margin-bottom: 10px;
}

.image-item3{
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}

.image-item4{
  background-image: url(img/webcamp.png);
  margin-right: 10px;
}

.image-item5{
  background-image: url(img/talk.jpg);
  margin-right: 10px;
}

.image-item6{
  background-image: url(img/webcamp-mother.png);
}

.feature{
  width: 100%;
}

.feature-container{
  width: 980px;
  text-align: center;
  margin: 0 auto;
  padding: 90px 0;
}

.strength-boxes{
  display: flex;
  flex-wrap: wrap;
}

.common-strength-box{
  width: 320px;
  height: auto;
}

i{
  font-size: 60px;
}

.strength-header{
  font-size: 20px;
  padding: 10px 0;
}

.strength-text{
  text-align: left;
  font-size: 16px;
  color: #000000;
}

.strength2{
  margin: 0 10px;
}

.profile{
  background-color: #eceff1;
}

.profile-container{
  width: 1024px;
  padding: 90px 0;
  margin: 0 auto;
  text-align: center;
}

.myprofile-container{
  display: flex;
  flex-wrap: wrap;
}

.profile-image-container{
  width: 512px;
}

.profile-image{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.introduce-container{
  width: 512px;
  text-align: left;
}

.name{
  font-size: 20px;
  margin-bottom: 5px;
}

.name-text{
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.skill{
  font-size: 20px;
  margin-bottom: 5px;
}

.skill-text{
  font-size: 16px;
  color: #000000;
}

.contact-container{
  width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 90px 0;
}

.info-container{
  display: flex;
}

.address-container{
  width: 400px;
}

.address-content{
  width: 130px;
  margin: 0 auto;
  text-align: left;
}

.sns-container{
  width: 400px;
}

.sns-content{
  width: 130px;
  margin: 0 auto;
  text-align: left;
}

.social{
  display: flex;
}

.social i{
  font-size: 50px;
}

.fa-twitter{
  margin: 0 20px;
}

.mail-header,
.tel-header,
.sns-header{
  font-size: 20px;
  margin-bottom: 5px;
}

.mail-text{
  margin-bottom: 20px;
}

footer{
  width: 100%;
  height: 60px;
  background-color: #ec715f;
}

.footer-text{
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #fafafa;
}

@media screen and (max-width:768px){
  header{
    height: 50px;
  }

  .header-bar{
    width: 90%;
  }

  .header-logo{
    height: 50px;
  }

  ul{
    display: none;
  }

  .ham {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 5px 0;
    border: 1px solid white;
  }

  .ham_line {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 3px;
    background-color: white;
  }

  .ham_line1 {
    top: 10px;
  }
  .ham_line2 {
    top: 18px;
  }
  .ham_line3 {
    top: 26px;
  }

  .main-visual{
    background-image: url(img/code.png);
  }

  .main-visual-header h1{
    font-size: 40px;
  }

  .main-visual-text{
    font-size: 18px;
  }

  .portfolio-container{
    width: 90%;
  }

  .box-images{
    display: flex;
    flex-direction: column;
  }

  .image-item1,
  .image-item3,
  .image-item5{
    display: none;
  }

  .common-image-item{
    margin: 0 auto;
  }

  .image-item2,
  .image-item4{
    margin-bottom: 10px;
  }

  .feature-container{
    width: 90%;
  }

  .strength-boxes{
    display: flex;
    flex-direction: column;
  }

.common-strength-box{
  margin: 0 auto;
}

.strength1,
.strength2{
  margin-bottom: 20px;
}

.profile-container{
  width: 90%;
}

.myprofile-container{
  display: flex;
  flex-direction: column;
}

.profile-image-container{
  width: 100%;
}

.introduce-container{
  width: 100%;
  text-align: center;
}

.contact-container{
  width: 90%;
}

.info-container{
  display: flex;
  flex-direction: column;
}

.address-container{
  width: 100%;
}

.address-content{
  text-align: center;
}

.sns-container{
  width: 100%;
}

.sns-content{
  text-align: center;
}

.fa-twitter{
  margin: 0 8px;
}

.tel-text{
  margin-bottom: 20px;
}

}